<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>作业列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css" th:href="@{/css/oksub.css}">
    <script type="text/javascript" src="../../lib/loading/okLoading.js" th:src="@{/lib/loading/okLoading.js}"></script>
    <script type="text/javascript" src="../../lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
</head>
<body>
<div class="ok-body">
    <!--模糊搜索区域-->
    <div class="layui-row">
        <form class="layui-form ok-search-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">课程</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" placeholder="请输入作业课程" autocomplete="off" name="workCourse">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" placeholder="请输入作业标题" autocomplete="off" name="workTitle">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">作业类型</label>
                    <div class="layui-input-inline">
                        <select name="status" lay-verify="" lay-search>
                            <option value="" selected>请选择类型</option>
                            <option value="1">电子作业</option>
                            <option value="2">纸质作业</option>
                            <option value="3">个人作业</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">作业状态</label>
                    <div class="layui-input-inline">
                        <select name="workStatus" lay-verify="" lay-search>
                            <option value="" selected>请选择作业状态</option>
                            <option value="1">未交</option>
                            <option value="2">已交</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="search">
                            <i class="layui-icon">&#xe615;</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="classWork">班级作业</button>
        <button class="layui-btn layui-btn-sm" lay-event="personWork">个人作业</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel">删除作业</button>
    </div>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    <a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>

<script type="text/html" id="workTypeTpl">
    {{#  if(d.workStatus == 1){ }}
    <span class="layui-btn layui-btn-normal layui-btn-xs">电子作业</span>
    {{#  } else if(d.workStatus == 2) { }}
    <span class="layui-btn layui-btn-warm layui-btn-xs">纸质作业</span>
    {{#  } else if(d.workStatus == 3) { }}
    <span class="layui-btn layui-btn-danger layui-btn-xs">个人作业</span>
    {{#  } }}
</script>

<script>
    layui.use(["element", "jquery", "table", "form", "okLayer", "okUtils"], function () {
        let table = layui.table;
        let form = layui.form;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let $ = layui.jquery;

        okLoading.close($);


        let userTable = table.render({
            elem: '#tableId',
            url: '/work-info/list',
            limit: 10,
            page: true,
            title: '作业信息表',
            toolbar: "#toolbarTpl",
            cols: [
                [
                    {type: "checkbox", fixed: "left"},
                    {field: "workCourse", title: "课程"},
                    {field: "workTitle", title: "标题",},
                    {field: "workContext", title: "作业内容"},
                    {field: "workRemark", title: "作业备注"},
                    {field: "endTime", title: "截止时间"},
                    {field: "workType", title: "作业类型", templet: "#workTypeTpl"},
                    {field: "workStatus", title: "作业状态"},
                    {field: "createTime", title: "创建时间"},
                    {field: "updateTime", title: "更新时间"},
                    {title: "操作", width: 100, align: "center", fixed: "right", templet: "#operationTpl"}
                ]
            ]
        });

        form.on("submit(search)", function (data) {
            userTable.reload({
                where: data.field,
                page: {curr: 1}
            });
            return false;
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "classWork":
                    classWork();
                    break;
                case "personWork":
                    personWork();
                    break;
                case "batchDel":
                    batchDel();
                    break;
            }
        });

        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "edit":
                    edit(data.id);
                    break;
                case "del":
                    del(data.id);
                    break;
            }
        });



        function classWork() {
            okLayer.open("班级作业", "/work-info/class-add", "95%", "95%", null, function () {
                userTable.reload();
            });
        }

        function personWork() {
            okLayer.open("个人作业", "/work-info/person-add", "95%", "95%", null, function () {
                userTable.reload();
            });
        }

        function batchDel() {
            okLayer.confirm("确定要批量删除作业吗？", function () {
                okUtils.ajax("/user/delete/" + id, "get", null, true).done(function (response) {
                    okUtils.tableSuccessMsg(response.msg);
                }).fail(function (error) {

                });
            })
        }

        function edit(id) {
            okLayer.open("修改用户", "/user/update-page/" + id, "90%", "90%", null, function () {
                userTable.reload();
            });
        }

        function del(id) {
            okLayer.confirm("确定要删除吗？", function () {
                okUtils.ajax("/user/delete/" + id, "get", null, true).done(function (response) {
                    okUtils.tableSuccessMsg(response.msg);
                }).fail(function (error) {

                });
            })
        }
    })
</script>
</body>
</html>
