<!-- 头部 -->
<header class="main-header" th:fragment="header">
    <nav class="navbar navbar-static-top">
        <div class="container">

            <th:block th:replace="include/menu :: site-name"/>

            <th:block th:replace="include/menu :: menu"/>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img th:src="@{/img/user2-160x160.jpg}" class="user-image" alt="用户图像">
                            <!-- hidden-xs 在小型设备上隐藏用户名，只显示图像。 -->
                            <span class="hidden-xs"th:text="${session.student.getStudentName()}" >荣荣</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img th:src="@{/img/user2-160x160.jpg}" class="img-circle" alt="用户图像">
                                <p>
                                    [[${session.student.getStudentName()}]]
                                    <small>注册于 [[${#dates.format(session.student.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}]]</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/printing/tb-user/profile" class="btn btn-default btn-flat">资料</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>