<!-- Collect the nav links, forms, and other content for toggling -->
<div class="navbar-header" th:fragment="site-name">
    <a href="/index" class="navbar-brand">学委助手</a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
    </button>
</div>

<div class="collapse navbar-collapse pull-left" id="navbar-collapse" th:fragment="menu">
    <ul class="nav navbar-nav">
        <li><a href="/index">首页</a></li>
        <li><a href="#">作业</a></li>
        <li><a href="#">班级</a></li>
    </ul>
</div>