<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.mxue.assistant.mapper.ClassNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.mxue.assistant.entity.ClassNotice">
        <id column="id" property="id" />
        <result column="class_number" property="classNumber" />
        <result column="notice_subject" property="noticeSubject" />
        <result column="notice_content" property="noticeContent" />
        <result column="notice_remark" property="noticeRemark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
