<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include/include :: head('学委助手 | 登录')"/>
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

    <th:block th:replace="include/header-login :: header"/>

    <!-- Full Wnameth Column -->
    <div class="content-wrapper">
        <div class="container" >
            <section class="content">
                <div class="box box-default">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#user_info" data-toggle="tab" aria-expanded="true">登录</a></li>
                            <li><a href="#modify_password" data-toggle="tab" aria-expanded="false">注册</a></li>
                        </ul>
                        <div class="tab-content">

                            <div class="alert alert-danger alert-dismissible"  th:if="${msg != null}"  >
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" >&times;</button>
                                <strong th:text="${msg}"></strong>
                            </div>

                            <!--用户信息-->
                            <div class="tab-pane active" id="user_info" >
                                <form class="form-horizontal"  action="/login" id="form-user-edit" method="post">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;学号&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" name="studentId" class="form-control" placeholder="学号">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="password" name="password" class="form-control" placeholder="密码">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-info">立即登录</button>
                                        <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;忘记密码？</a>
                                    </div>
                                </form>
                            </div>

                            <!--修改密码-->
                            <div class="tab-pane" id="modify_password">
                                <form class="form-horizontal"  id="form-user-resetPwd" method="post">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;学号&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" placeholder="学号">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control" placeholder="密码">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-info">立即登录</button>
                                        <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;忘记密码？</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <th:block th:replace="include/footer :: footer"/>

</div>


<th:block th:include="include/include :: foot"/>
</body>
</html>