<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.mxue.assistant.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.mxue.assistant.entity.Student">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="class_id" property="classId"/>
        <result column="student_type" property="studentType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getStudentType" resultType="java.lang.Integer">
        SELECT c.student_type
        FROM sys_user a
                 LEFT JOIN tb_class_info b ON a.id = b.user_id
                 LEFT JOIN tb_student c ON b.id = c.class_id
        WHERE a.id = #{userId}
          AND b.is_now = #{classIsNow}
    </select>

</mapper>
