<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.mxue.assistant.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.mxue.assistant.entity.Student">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="student_name" property="studentName"/>
        <result column="student_no" property="studentNo"/>
        <result column="related_id" property="relatedId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getStudentType" resultType="java.lang.Integer">
        SELECT b.student_type
        FROM tb_student a
                 LEFT JOIN tb_student_class_related b ON a.related_id = b.id
        WHERE a.user_id = #{userId}
    </select>
    <select id="queryStudentList" resultType="xyz.mxue.assistant.model.vo.StudentInfoVO">
        SELECT d.id,
               d.student_name,
               d.student_no,
               c.student_type
        FROM tb_student_class_related c
                 LEFT JOIN tb_student d ON c.student_id = d.id
            ${ew.customSqlSegment}
    </select>
    <select id="getStudentOfClassByUserId" resultType="java.lang.Long">
        SELECT b.class_id
        FROM tb_student a
                 LEFT JOIN tb_student_class_related b ON a.related_id = b.id
        WHERE a.user_id = #{userId}
    </select>


</mapper>
