<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新用户</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css" th:href="@{/css/oksub.css}">
    <script type="text/javascript" src="../../lib/loading/okLoading.js" th:src="@{/lib/loading/okLoading.js}"></script>
    <script type="text/javascript" src="../../lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
</head>
<body>
<div class="ok-body">

    <!-- 如果 student 为空 -->
    <th:block th:if="${classInfo == null}">
        <fieldset class="layui-elem-field">
            <legend>你还没有班级？</legend>
            <div class="layui-field-box">
                <button type="button" onclick="addClass()" class="layui-btn"><span class="layui-icon">&#xe602;</span>创建班级
                </button>
                <button type="submit" onclick="joinClass()" class="layui-btn"><span class="layui-icon">&#xe602;</span>加入班级
                </button>
            </div>
        </fieldset>
    </th:block>

    <!-- 如果student 不为空 -->
    <!--form表单-->
    <th:block th:if="${classInfo != null}">

        <fieldset class="layui-elem-field">
            <legend>班级信息</legend>
            <div class="layui-field-box">
                <form class="layui-form ok-form" lay-filter="filter">
                    <div class="layui-form-item">
                        <label class="layui-form-label">学校名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="school" th:value="${classInfo.school}" readonly placeholder="无学校名"
                                   autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">学院名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="college" th:value="${classInfo.college}" readonly
                                   placeholder="无学院名称" autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-block">
                            <input type="text" name="grade" th:value="${classInfo.grade}" readonly placeholder="无年级"
                                   autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">专业名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="profession" th:value="${classInfo.profession}" readonly
                                   placeholder="无专业名称" autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">班级名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="className" th:value="${classInfo.className}" readonly
                                   placeholder="班级名称" autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>

                    <th:block th:if="${student.id == classInfo.studentId}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">班级密钥</label>
                            <div class="layui-input-block">
                                <input type="text" name="classKey" th:value="${classInfo.classKey}" readonly
                                       placeholder="请输入班级密钥" autocomplete="off"
                                       class="layui-input"
                                       lay-verify="required">
                            </div>
                        </div>
                    </th:block>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <th:block th:if="${student.id == classInfo.studentId}">
                                <button class="layui-btn" lay-submit lay-filter="editClass">修改班级</button>
                            </th:block>
                            <button class="layui-btn" lay-submit lay-filter="createClass">创建班级</button>
                            <button class="layui-btn" lay-submit lay-filter="joinClass">加入班级</button>
                            <button class="layui-btn" lay-submit lay-filter="changeClass">切换班级</button>
                        </div>
                    </div>

                </form>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>学生信息</legend>
            <div class="layui-field-box">
                <form class="layui-form ok-form" lay-filter="filter">
                    <input type="hidden" name="id" th:value="${student.id}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="studentName" th:value="${student.studentName}"
                                   placeholder="请输入学生姓名" autocomplete="off"
                                   class="layui-input" lay-verify="required">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">学号</label>
                        <div class="layui-input-block">
                            <input type="text" name="studentNo" th:value="${student.studentNo}" placeholder="请输入学号"
                                   autocomplete="off"
                                   class="layui-input"
                                   lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="editStudent">修改学生信息</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

    </th:block>

</div>

<script>


    layui.use(["element", "form", "okLayer", "okUtils", "layer"], function () {
        let form = layui.form;
        let okLayer = layui.okLayer;
        let layer = layui.layer;
        let okUtils = layui.okUtils;
        okLoading.close();

        form.on("submit(editClass)", function () {
            okLayer.open("修改班级", "/class-info/edit-class-page", "80%", "80%", null, function () {
                window.location = "/class-info/info-page";
            });
            return false;
        });

        form.on("submit(createClass)", function () {
            okLayer.open("创建班级", "/class-info/add-page", "80%", "80%", null, function () {
                window.location = "/class-info/info-page";
            });
            return false;
        });

        form.on("submit(joinClass)", function () {
            okLayer.open("加入班级", "/class-info/join-page", "80%", "80%", null, function () {
                window.location = "/class-info/info-page";
            });
            return false;
        });

        form.on("submit(changeClass)", function () {
            okLayer.open("切换班级", "/class-info/join-page", "80%", "80%", null, function () {
                window.location = "/class-info/info-page";
            });
            return false;
        });

        form.on("submit(editStudent)", function (data) {
            okUtils.ajax("/student/save-edit", "post", data.field, true).done(function (response) {
                okLayer.greenTickMsg(response.msg, function () {
                    window.location = "/class-info/info-page"
                });
            }).fail(function (error) {
                console.log(error)
            });
            return false;
        });


    })

    function addClass() {
        layer.open({
            type: 2,
            title: '添加班级',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['80%', '80%'],
            content: '/class-info/add-page'
        });
    };

    function joinClass() {
        layer.open({
            type: 2,
            title: '加入班级',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area: ['50%', '50%'],
            content: '/class-info/join-page'
        });
    };
</script>
</body>
</html>
