<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>学生列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css" th:href="@{/css/oksub.css}">
    <script type="text/javascript" src="../../lib/loading/okLoading.js" th:src="@{/lib/loading/okLoading.js}"></script>
    <!--js逻辑-->
    <script type="text/javascript" src="../../lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
</head>
<body>
<div class="ok-body">

    <th:block th:if="${createClassList != null}">
        <fieldset class="layui-elem-field">
            <legend>我创建的班级</legend>
            <div class="layui-field-box">
                <div class="layui-row" th:each="createClass : ${createClassList}">
                    <form class="layui-form layui-col-md12 ok-search">
                        <input type="hidden" name="id" th:value="${createClass.id}">
                        <div>
                            [[${createClass.school}]][[${createClass.college}]][[${createClass.grade}]][[${createClass.profession}]][[${createClass.className}]]
                            <button class="layui-btn" lay-submit="" lay-filter="editClass">
                                修改班级</i>
                            </button>

                            <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="deleteClass">
                                删除班级</i>
                            </button>

                            <th:block th:if="${createClass.id == classId}">
                                <button type="button" class="layui-btn layui-btn-disabled">当前班级</button>
                            </th:block>

                            <th:block th:if="${createClass.id != classId}">
                                <button class="layui-btn" lay-submit lay-filter="changeClass">切换班级</button>
                            </th:block>

                        </div>
                        <br/>
                        <br/>

                    </form>
                </div>
            </div>
        </fieldset>
    </th:block>

    <th:block th:if="${joinClassList != null}">
        <fieldset class="layui-elem-field">
            <legend>我加入的班级</legend>
            <div class="layui-field-box">
                <div class="layui-row" th:each="joinClass : ${joinClassList}">
                    <form class="layui-form layui-col-md12 ok-search">
                        <input type="hidden" name="id" th:value="${joinClass.id}">
                        <div>
                            [[${joinClass.school}]][[${joinClass.college}]][[${joinClass.grade}]][[${joinClass.profession}]][[${joinClass.className}]]
                            <button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="deleteClassRelated">
                                退出班级</i>
                            </button>
                            <th:block th:if="${joinClass.id == classId}">
                                <button type="button" class="layui-btn layui-btn-disabled">当前班级</button>
                            </th:block>

                            <th:block th:if="${joinClass.id != classId}">
                                <button class="layui-btn" lay-submit lay-filter="changeClass">切换班级</button>
                            </th:block>
                        </div>
                        <br/>
                        <br/>
                    </form>
                </div>
            </div>
        </fieldset>
    </th:block>

</div>
<script>
    layui.use(["element", "jquery", "table", "form", "okLayer", "okUtils"], function () {
        let table = layui.table;
        let form = layui.form;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let $ = layui.jquery;
        okLoading.close($);

        form.on("submit(editClass)", function (data) {
            okLayer.open("修改班级", "/class-info/edit-info-page-id/" + data.field.id, "80%", "80%", null, function () {
                window.location = "/class-info/list";
            });
            return false;
        });

        form.on("submit(deleteClass)", function (data) {
            okLayer.confirm("确定要删除班级吗？", function () {
                okUtils.ajax("/class-info/delete-class/" + data.field.id, "get", null, true).done(function (response) {
                    okLayer.greenTickMsg(response.msg, function () {
                        window.location = "/class-info/list";
                    });
                }).fail(function (error) {

                });
            });
            return false;
        });

        form.on("submit(changeClass)", function () {
            okLayer.open("切换班级", "/class-info/change-class-page", "80%", "80%", null, function () {
                window.location = "/class-info/list";
            });
            return false;
        });

        form.on("submit(deleteClassRelated)", function (data) {
            okLayer.confirm("确定要退出吗？", function () {
                okUtils.ajax("/class-info/delete-related/" + data.field.id, "get", null, true).done(function (response) {
                    okLayer.greenTickMsg(response.msg, function () {
                        window.location = "/class-info/list";
                    });
                }).fail(function (error) {

                });
            });
            return false;
        });

    });

</script>
</body>
</html>
